@import url('https://fonts.googleapis.com/css?family=Arvo:400,700|Montserrat');

body {
  font-family: 'Arvo', serif;
}

h1, h2 {
  font-family: 'Montserrat', sans-serif;
}

h2 {
  padding-top: 1em;
}

a {
  color: #4e0a7d;
  &:hover {
    color: #32084f;
  }
}

.about ul {
  list-style: none;
  padding: 0;
  column-count: 2;
  &.skills {
    column-count: 4;
  }
}

.about li {
  padding-bottom: 1em;
}

@media (max-width: 600px) {
  .about ul {
    column-count: 1;
    &.skills {
      column-count: 2;
    }
  }
}