@import url('https://fonts.googleapis.com/css?family=Arvo|Montserrat');

body {
  font-family: 'Arvo', serif;
}

h1 {
  font-family: 'Montserrat', sans-serif;
}

a {
  color: #700eb4;
  &:hover {
    color: #4e0a7d;
  }
}