.project {
  margin-bottom: 2rem;
  position: relative;

  &__title {
    bottom: -3rem;
    color: #700eb4;;
    font-size: 1.25rem;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
  }
}