.project {
  margin-bottom: 5rem;

  a {
    text-decoration: none;

    & h2 {
      color: black;
      font-size:1.75rem;
      font-family: 'Roboto', sans-serif;
      font-weight: 700;
      margin-top: -1rem;
    }
    & h3 {
      color: black;
      font-size:1rem;
      font-family: 'Roboto', sans-serif;
    }
    &:hover {
        .project__title, .project__skills { color: #4e0a7d; }
      }

      .blend:hover {
        background: white;
        mix-blend-mode: hard-light;
      }
  }
}


// .project {
//   margin-bottom: 2rem;
//   position: relative;
//   transition: all 0.4s;

//   a::before {
//     display: none;
//     content: "";
//     position: absolute;
//     top: 0;
//     left: 0;
//     bottom: 0;
//     right: 0;
//     background: rgba(0,0,0,0.8);
//     transition: all 0.4s;
//   }

//   &__title {
//     display: none;
//     bottom: 9rem;
//     color: white;
//     font-size:1.75rem;
//     font-family: 'Roboto', sans-serif;
//     font-weight: 700;
//     left: 0;
//     position: absolute;
//     right: 0;
//     text-align: center;
//   }
//   &__skills {
//     display: none;
//     bottom: 6rem;
//     color: white;
//     font-size:1rem;
//     font-family: 'Roboto', sans-serif;
//     left: 0;
//     position: absolute;
//     right: 0;
//     text-align: center;
//   }

//   &:hover {
//     a::before, .project__title, .project__skills { display: block; padding-left: 10px; padding-right: 10px; }
//   }
// }

// a:hover::before {
//   transition: all 0.4s; 
// }

// @media (max-width: 600px) {
//   .project {
//     &__title {
//       bottom: 4rem;
//     }
//   }
// }