<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{{ page.title }} - Andrea Cannistra</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/application.css">
</head>
<body>
  <header class="header">
    {% include nav.html %}
  </header>

  <main role="main">
    {{ content }}
  </main>

  <footer class="text-center">
    <div class="container">
      <div class="lets-chat row">
        <div class="col-md-9 mx-auto">
          <p>That's enough about me. Let's talk about you. Do you have a project that could use my particular kind of skills?</p>
          <a href="mailto:acannist@gmail.com" class="btn btn-lg btn-primary">Let's Work Together</a>
        </div>
      </div>
      <hr>
      <ul class="list-inline social-icons">
        <li class="list-inline-item">
          <a href="https://www.twitter.com/acannist" target="_blank" rel="noopener">
            <i class="fa fa-twitter"></i>
            <span class="sr-only">Twitter</span>
          </a>
        </li>
        <li class="list-inline-item">
          <a href="https://www.github.com/acannist" target="_blank" rel="noopener">
            <i class="fa fa-github"></i>
            <span class="sr-only">GitHub</span>
          </a>
        </li>
      </ul>
    </div>
  </footer>
</body>
</html>